:root {
    --font-size-small: 0.75rem;   /* equivalent of 12pt */
    --font-size-smaller: 0.625rem /* equivalent of 10pt */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%; /* defaults to 16pt */
}

body {
    font-size: var(--font-size-small);
}

.hidden {
    display: none;
}

table {
    font-family: monospace;
}

.ip {
    background-color: red;
}

.green,
#compute.btn-green {
    background-color: green;
}

.red {
    background-color: red;
}

textarea {
    width: 100%;
}

#stop.btn-on {
    background-color: red;
}

.btn {
    border: 1px solid black;
    border-radius: 0px;
}

.toggle {
    height: 100%;
    width: 100%;
}

div:has(>button) {
    padding: 0px;
    margin: 0px;
}

#button-holder {
    background-color: #af967b;
    background-image:
        repeating-linear-gradient(45deg, transparent 0px, #000000 1px, transparent 1px, transparent 10px),
        repeating-linear-gradient(-45deg, transparent 0px, #000000 1px, transparent 1px, transparent 10px);
}

#top-buttons,
#bottom-buttons {
    padding-left: 50px;
}

#bottom-buttons,
#logo-holder {
    background-color: silver;
}

#logo-holder {
    height: 124px;
    text-align: center;
    vertical-align: middle;
    line-height: 124px;
}

#button-holder {
    border: 20px solid silver;
    border-top-left-radius: 90px 200px;
    border-top-right-radius: 90px 200px;
    overflow: hidden;
}

#run-btns button,
#op-btns button {
    /* font-size: 12; */
    height: 60px;
    background-color: #ac9c8c;
    color: #efdfc5;
}

#op-btns button,
#mode-btns button {
    width: 100px;
    background-color: #a48e65;
    color: #efdfc5;
}

#run-btns {
    margin-top: 25px;
}

#run-btns button {
    margin-bottom: 15px;
}

#flexo-btns button {
    width: 70px;
    height: 50px;
    /* font-size: 10; */
}

button#manual-light {
    width: 120px;
    margin-left: 30px;
    margin-right: 30px;
}

#scope {
    margin-top: 10px;
    background: #af967b;
}

#scope-holder {
    height: 179px;
}

#scope td {
    display: inline-flex;
}

.bit-on,
.bit-off {
    width: 14px;
    height: 15px;
    background: black;
}

#a-bin,
#r-bin,
#c-bin {
    border: 1px solid black;
}

#c-bin {
    float: right;
    margin-right: 14px;
}

.bit-off {
    border-bottom: 2px solid green;
}

.bit-on {
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-top: 2px solid green;
    background: green;
}

.bit-markers>span {
    width: 15px;
    /* font-size: 10; */

    border-left: 1px solid black;
    border-image: linear-gradient(to bottom, #000 50%, transparent 50%) 100% 1;
}

#r-bin .bit-12,
#r-bin .bit-16,
#r-bin .bit-18,
#r-bin .bit-24,
#r-bin .bit-30 {
    border-left: 1px solid black;
}

.keybd.staggered {
    margin-left: 30px;
}

.keybd td {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
}

.key-brn,
#flexo-btns button {
    background: #3b2112;
    color: #f2e0ab;
}

.key-wht {
    background-color: #f2e0ab;
    color: #3b2112;
}

.keybd .key-blank,
.key-half-blank {
    border: none;
}

.keybd td.key-half-blank {
    width: 15px;
}

#mem-holder {
    overflow-y: scroll;
    height: 512px;
}